autom4te.cache/
data/Makefile.in_ART
data/build-manual_RENAMED
data/_zzzfm.png
data/_plugins.html
data/devmon.html
data/zzzfm-manual-enSAFE.html
debian/changelog__OLD
debian/source_RENAMED
debian/source_RENAMED/*
debian/control_buildGTK2only
debian/rules_buildGTK2only
etc/Makefile.in_ART
src/Makefile.in_ART
po/.intltool-merge-cache
po/POTFILES
po/*.gmo
po/stamp-it
po/Makefile.in
src/.deps/
src/*/.deps/
src/*/.dirstamp
src/xml-purge
src/*.o
A__roadmap-n-notes__.txt
_intltool-update__report.txt
ChangeLog__OLD
configure_ART
config.log
config.status
config.guess_ART
config.sub_ART
depcomp_ART
libtool
aclocal.m4_RENAMED
compile_RENAMED
_leak_check_valgrind_.txt
Makefile
Makefile.in_RENAMED
mkinstalldirs_RENAMED
README__OLD
release__RENAMED
zzzfm-installer_NOTUSED
